/**
 * Custom font definitions for the application
 */

@font-face {
  font-family: 'Block Berthold Regular';
  src: url('../../assets/Block Berthold Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
